In [1]:
%matplotlib inline
import glob
import numpy as np
import os
import pandas as pd

from part2_redo.dsets import get_candidate_df, LunaDataset, Ct

In [2]:
candidates = get_candidate_df(require_on_disk=False)
positives = candidates[candidates.is_nodule_bool]

In [7]:
for candidateInfo_tup in positiveInfo_list[:10]:
    print(candidateInfo_tup)
for candidateInfo_tup in positiveInfo_list[-10:]:
    print(candidateInfo_tup)
    
for candidateInfo_tup in positiveInfo_list:
    if candidateInfo_tup.series_uid.endswith('565'):
        print(candidateInfo_tup)

CandidateInfoTuple(isNodule_bool=True, diameter_mm=32.27003025, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644280690737019247886', center_xyz=(67.61451718, 85.02525992, -109.8084416))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=30.61040636, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331256326754121315800', center_xyz=(47.90350511, 37.60442008, -99.93417567))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=30.61040636, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331256326754121315800', center_xyz=(44.19, 37.79, -107.01))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=30.61040636, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331256326754121315800', center_xyz=(40.69, 32.19, -97.15))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=27.44242293, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.943403138251347598519939390311', center_xyz=(-45.29440163, 74.86925386, -97.52812481))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=27.07544345, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.481278873893653517789960724156', center_xyz=(-102.571208, -5.186558766, -205.1033412))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=26.83708074, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.487268565754493433372433148666', center_xyz=(121.152909372, 12.9136003304, -159.399497186))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=26.83708074, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.487268565754493433372433148666', center_xyz=(118.8539408, 11.54202797, -165.5042458))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=25.87269662, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.177086402277715068525592995222', center_xyz=(-66.628286875, 57.151972075, -110.12035075))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=25.41540526, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.219618492426142913407827034169', center_xyz=(-101.7504204, -95.65460516, -138.4943211))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.107109359065300889765026303943', center_xyz=(-100.57, -66.23, -218.76))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.106379658920626694402549886949', center_xyz=(-71.09, 68.3, -160.4))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.102681962408431413578140925249', center_xyz=(106.18, 12.61, -96.81))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.102681962408431413578140925249', center_xyz=(96.2846726653, 19.0348690723, -88.478440818))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(89.32, 190.84, -516.82))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(89.32, 143.23, -427.1))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(85.12, 152.33, -425.7))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(8.8, 174.74, -401.87))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(5.99, 171.94, -398.37))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016233746780170740405', center_xyz=(1.79, 166.34, -408.88))
CandidateInfoTuple(isNodule_bool=True, diameter_mm=0.0, series_uid='1.3.6.1.4.1.14519.5.2.1.6279.6001.124154461048929153767743874565', center_xyz=(146.12, -160.55, -309.93))

In [3]:
positive_samples = positives.iloc[:100]

In [4]:
series_uid = positive_samples.seriesuid[2]
# showCandidate(series_uid)

In [5]:
ds = LunaDataset(series_uid=series_uid)

2023-02-12 23:43:42,513 INFO     pid:25759 part2_redo.dsets:153:__init__ <part2_redo.dsets.LunaDataset object at 0x7f7b21683f10>: 911 training samples

In [8]:
candidate_series = ds.candidates.iloc[0]

In [11]:
candidate_series

is_nodule_bool                                                 True
diameter_mm                                                 30.6104
seriesuid         1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...
coordX                                                        44.19
coordY                                                        37.79
coordZ                                                      -107.01
Name: 1, dtype: object

In [7]:
pos_list = ds.candidates[ds.candidates.is_nodule_bool]

In [10]:
ds.candidates.head()

,is_nodule_bool,diameter_mm,seriesuid,coordX,coordY,coordZ
1,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,44.190000,37.790000,-107.010000
2,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,47.903505,37.604420,-99.934176
108,True,16.882905,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,-59.916324,-64.815561,-100.068931
950,True,0.000000,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,58.200000,35.690000,-102.080000
951,True,0.000000,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,50.500000,27.280000,-107.010000

In [8]:
pos_list.head()

,is_nodule_bool,diameter_mm,seriesuid,coordX,coordY,coordZ
1,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,44.190000,37.790000,-107.010000
2,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,47.903505,37.604420,-99.934176
108,True,16.882905,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,-59.916324,-64.815561,-100.068931
950,True,0.000000,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,58.200000,35.690000,-102.080000
951,True,0.000000,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,50.500000,27.280000,-107.010000

In [22]:
ds = LunaDataset(series_uid=series_uid)
# pos_list = [i for i, x in enumerate(ds.candidateInfo_list) if x.is_nodule_bool]
pos_list = ds.candidates[ds.candidates.is_nodule_bool]
batch_ndx = 0
if batch_ndx is None:
    if pos_list:
        batch_ndx = pos_list[0]
    else:
        print("Warning: no positive samples found; using first negative sample.")
        batch_ndx = 0

ct = Ct(series_uid)

2023-02-12 04:58:44,780 INFO     pid:18965 part2_redo.dsets:153:__init__ <part2_redo.dsets.LunaDataset object at 0x7fb1854ad650>: 602 training samples

In [23]:
ds[batch_ndx]

AttributeError: 'Series' object has no attribute 'center_xyz'

In [ ]:
series_uid = '1.3.6.1.4.1.14519.5.2.1.6279.6001.124154461048929153767743874565'
showCandidate(series_uid)

In [ ]:
series_uid = '1.3.6.1.4.1.14519.5.2.1.6279.6001.126264578931778258890371755354'
showCandidate(series_uid)

In [10]:
candidates.head()

,is_nodule_bool,diameter_mm,seriesuid,coordX,coordY,coordZ
0,True,32.270030,1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644...,67.614517,85.025260,-109.808442
1,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,44.190000,37.790000,-107.010000
2,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,47.903505,37.604420,-99.934176
3,True,27.442423,1.3.6.1.4.1.14519.5.2.1.6279.6001.943403138251...,-45.294402,74.869254,-97.528125
4,True,27.075443,1.3.6.1.4.1.14519.5.2.1.6279.6001.481278873893...,-102.571208,-5.186559,-205.103341

In [17]:
len(candidates)

551065

In [21]:
candidates.head()

,is_nodule_bool,diameter_mm,seriesuid,coordX,coordY,coordZ
0,True,32.270030,1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644...,67.614517,85.025260,-109.808442
1,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,44.190000,37.790000,-107.010000
2,True,30.610406,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,47.903505,37.604420,-99.934176
3,True,27.442423,1.3.6.1.4.1.14519.5.2.1.6279.6001.943403138251...,-45.294402,74.869254,-97.528125
4,True,27.075443,1.3.6.1.4.1.14519.5.2.1.6279.6001.481278873893...,-102.571208,-5.186559,-205.103341

In [26]:
gg = candidates.iloc[3]

In [30]:
series_uid = candidates.seriesuid[0]

In [31]:
mhd_path = glob.glob(
            "data-unversioned/part2/luna/subset*/{}.mhd".format(series_uid)
        )[0]

In [35]:
mhd_path = glob.glob(
            f"data-unversioned/part2/luna/subset*/{series_uid}.mhd"
        )

In [36]:
mhd_path

['data-unversioned/part2/luna/subset1/1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644280690737019247886.mhd']

In [32]:
mhd_path

'data-unversioned/part2/luna/subset1/1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644280690737019247886.mhd'

In [ ]:
import numpy as np
import ipyvolume as ipv
V = np.zeros((128,128,128)) # our 3d array
# outer box
V[30:-30,30:-30,30:-30] = 0.75
V[35:-35,35:-35,35:-35] = 0.0
# inner box
V[50:-50,50:-50,50:-50] = 0.25
V[55:-55,55:-55,55:-55] = 0.0
ipv.quickvolshow(V, level=[0.25, 0.75], opacity=0.03, level_width=0.1, data_min=0, data_max=1)

In [ ]:
ct = getCt(series_uid)
ipv.quickvolshow(ct.hu_a, level=[0.25, 0.5, 0.9], opacity=0.1, level_width=0.1, data_min=-1000, data_max=1000)

# Note: the following visualization doesn't look very good.
It's only included here for completeness.

In [ ]:
import scipy.ndimage.morphology
def build2dLungMask(ct, mask_ndx, threshold_gcc = 0.7):
    dense_mask = ct.hu_a[mask_ndx] > threshold_gcc
    denoise_mask = scipy.ndimage.morphology.binary_closing(dense_mask, iterations=2)
    tissue_mask = scipy.ndimage.morphology.binary_opening(denoise_mask, iterations=10)
    body_mask = scipy.ndimage.morphology.binary_fill_holes(tissue_mask)
    air_mask = scipy.ndimage.morphology.binary_fill_holes(body_mask & ~tissue_mask)

    lung_mask = scipy.ndimage.morphology.binary_dilation(air_mask, iterations=2)

    return air_mask, lung_mask, dense_mask, denoise_mask, tissue_mask, body_mask


def build3dLungMask(ct):
    air_mask, lung_mask, dense_mask, denoise_mask, tissue_mask, body_mask = mask_list = \
        [np.zeros_like(ct.hu_a, dtype=bool) for _ in range(6)]

    for mask_ndx in range(ct.hu_a.shape[0]):
        for i, mask_ary in enumerate(build2dLungMask(ct, mask_ndx)):
            mask_list[i][mask_ndx] = mask_ary

    return air_mask, lung_mask, dense_mask, denoise_mask, tissue_mask, body_mask

In [ ]:
from p2ch10.dsets import getCt
ct = getCt(series_uid)
air_mask, lung_mask, dense_mask, denoise_mask, tissue_mask, body_mask = build3dLungMask(ct)

In [ ]:
bones = ct.hu_a * (ct.hu_a > 1.5)
lungs = ct.hu_a * air_mask
ipv.figure()
ipv.pylab.volshow(bones + lungs, level=[0.17, 0.17, 0.23], data_min=100, data_max=900)
ipv.show()